.konteynir {
    max-width: 1000px;
    /* sayfa genişliğini maximum ayarı */
    margin: 15px auto;
}

/* tüm kartların düzeni */
.kartlar {
    display: grid;
    /* divin grid olarak çevirilmesi */
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* kartlar arası boşluk */
}

/* kartların stili */
.kart {
    /* yükseklik */
    padding: 15px;
    /* iç boşluk */
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 20px;
    /* köşelerin yuvarlaklığı */
    transition: 0.3s;
    /* hover değişiminin bi anda değil daha yavaş olmasını sağlar*/
}

.kart:hover {
    transform: translateY(-3px);
    /* kartın yukarı  hareket mesafesi*/
    box-shadow: 0 10px 20px rgba(204, 125, 200, 0.313);
    /* kartın gölgesi */
}




.kart img,
.kart video {
    width: 100%;
    height: 190px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.banner {
    width: 100%;
    height: 120px;
    object-fit: cover;
    display: block;
    /* blok elementi */
    border-radius: 10px;
}

.profil {
    width: 120px;
    height: 120px;
    object-fit: cover;
    display: block;
    /* blok elementi */
    border-radius: 10px;
}

@media (max-width: 600px) {
    .kartlar {
        grid-template-columns: 1fr;
    }
}

/* RENKLER */
.pembe {
    background: #f8c8dc;
}

.beyaz {
    background: rgb(212, 210, 210);
}

body {
    background-color: #f6eaf0;
}

nav {
    padding: 15px;
    background-color: rgb(241, 237, 237);
    border-radius: 15px;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #523352;
    margin-right: 10px;
    font-weight: bold;
}

nav a:hover {
    color: #e89ab5;
}

.ust-icerik {
    display: flex;
    /* fotoğraf ve yazının yan yana olması için */
    justify-content: space-between;
    /* elemanların iki uçta olmasını sağlar*/
    align-items: center;
    /* hizalama */
}

.kart h3 {
    margin-bottom: 10px;
    color: #2a282a;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8d6e4;
    color: #333;
}

header {

    padding: 15px;
    border-bottom: 1px solid #ccc;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

main {
    width: 80%;
    margin: 40px auto;
}

.cv article {
    background-color: #fff;
    margin-bottom: 25px;
    padding: 25px;
    border-radius: 8px;
}

h1,
h2 {
    color: #222;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
}